.a1
{
    text-decoration: none;
     margin-left: 200px;
      font-size: 40px;
       font-family: Forte;
}
.frm
{
    background-color:hotpink;
     color:white;
      font-size:25px;
}
.btn1
{
    background-color:darkmagenta; 
    color: white; 
    width: 100px;
}